ngram==3.3.2
numpy==1.16.2
pandas==0.24.2
Pillow==6.0.0
python-dateutil==2.8.0
pytz==2019.1
six==1.12.0
regex
opencv-python
natsort
mecab-python3
janome
sklearn
lightgbm
optuna
pyocr
beautifulsoup4
selenium
chromedriver-binary==75.0.3770.8.0
requests
wxPython
bs4
